  
div.blank{
    height:60px;
    border:outline 5px;
}

div.blankSmall{
    height:15px;
    border:outline 5px;
}

div.lastParts{
    display:inline-block;
    margin: 40px;
}

body{
    width: 50%;
    margin:auto;
    text-align:center;
    text-align:center;
    font-size: 15px;
}

img{
    width:200px; /* you can use % */
    height: auto;
    margin:20px;
}

p1{
    display: inline-block;
}

p2 {
    display: inline-block;
}

